//Home Styles

.home-list {
  li {
    display: inline-block;
    padding: 5px;
    color: $w;
    margin-bottom: 10px;
    background-color: #663399;
    box-shadow: 0 0 1px #000000;
  }
}

.home-list-item {
  text-transform: capitalize;
}

.content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: $w;

  h1 {
    position: relative;
    z-index: 20;
    font-size: 50px;
    text-transform: capitalize;
    font-family: $pnr;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #161515;
    opacity: 0.7;
  }
}

.section {
  height: 100vh;
  // width: 100vw;

  &--1 {
    background-color: #663399;
  }

  &--2 {
    background-color: #daa520;
  }
}
