doctype html
html(lang='en')
  include pug/base/head
  body
    .content
      h1 Webpack 4 boilerplate is awesome
      h3 Replace this page with your own code
      img(src="./images/features-1.png")
