doctype html
html(lang='en')
  include pug/base/head
  body
    section.section.section--1
    section.section.section--2
    .content
      h1 batman hush
      img(src="img/batmanhush9.jpg" alt="joker getting asshandled")
